

.page{

    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box{ 

        width: 300px;
        padding: 30px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        flex-direction: wrap;
        align-items: center;
        background-color: antiquewhite;
        color: blueviolet;
        .tittle{
            font-size: 1.5rem;
           display: flex;
           justify-content: center;
        }

        .input{
            width: 250px;
            padding: 10px 5px;
            border-radius: 5px;
            border: none;
        }

        .btn{
            margin-top: 25px;
            padding: 8px;
            background-color: bisque;
            border-radius: 5px;
            border: none;
            /*TEXTO*/
            color: aliceblue;
            font-size: 0.5rem;
            &:active{
                background-color: aliceblue;
                color:  bisque;
            }
        }
        /*
        display: flex;
        justify-content: center;
        align-items: center;
         */
}

.minbox{
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    flex-direction: wrap;
    align-items: center;
}
